<h1><%= @post.title %></h1>

<% if @post.subtitle.present? %>
  <p><em><%= @post.subtitle %></em></p>
<% end %>

<p><%= t('shared.by') %> <%= @post.user.display_name %></p>

<p><%= link_to t('post_notification_mailer.new_post.read_full_post'), post_url(@post, slug: @post.slug) %></p>
