<article class="post-card">
  <header>
    <h3 class="post-card__title">
      <%= link_to post.title, post_path(post, slug: post.slug), class: "post-card__link" %>
    </h3>
    <% if post.subtitle.present? %>
      <p class="post-card__subtitle"><%= post.subtitle %></p>
    <% end %>
    <div class="post-card__meta post-meta">
      <span><%= t('shared.by') %> <%= author_link(post.user) %></span>
      <span class="post-meta__separator">&middot;</span>
      <time datetime="<%= post.published_at.iso8601 %>"><%= post.published_at.strftime("%B %-d, %Y") %></time>
      <span class="post-meta__separator">&middot;</span>
      <span><%= post.reading_time_minutes %> <%= t('shared.min_read') %></span>
      <% if post.category %>
        <span class="post-meta__separator">&middot;</span>
        <%= link_to post.category.name, category_path(post.category, slug: post.category.slug), class: "text-link--category" %>
      <% end %>
    </div>
  </header>
  <% if defined?(@snippets) && @snippets[post.id]&.body_snippet.present? %>
    <p class="post-card__excerpt"><%= sanitize @snippets[post.id].body_snippet, tags: %w[mark] %></p>
  <% end %>
</article>
