<% if related_posts.any? %>
  <section class="related-posts">
    <h3 class="related-posts__heading"><%= t('posts.related_posts.you_might_also_like') %></h3>
    <div class="related-posts__grid">
      <% related_posts.each do |post| %>
        <article>
          <% if post.featured_image.attached? %>
            <%= link_to post_path(post, slug: post.slug) do %>
              <%= image_tag post.featured_image.variant(resize_to_fill: [400, 225]),
                    class: "related-posts__image",
                    alt: post.title,
                    loading: "lazy" %>
            <% end %>
          <% end %>
          <h4 class="related-posts__title">
            <%= link_to post.title, post_path(post, slug: post.slug),
                  class: "related-posts__link" %>
          </h4>
          <time class="related-posts__date"
                datetime="<%= post.published_at.iso8601 %>">
            <%= post.published_at.strftime("%B %-d, %Y") %>
          </time>
        </article>
      <% end %>
    </div>
  </section>
<% end %>
